.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .background{
    background-image: url("../../../assets/background.gif");
    min-height: -webkit-fill-available;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .singinbtn{
    width: 100%;
    margin: 0px !important;
  }
  .mat-success {

    color:black;
    text-shadow: black;
  }
  
  .mat-card-primary{
    background-color: transparent;
 height: 100%;
 margin: 0 auto;
    width: 40%;

  
  }
    
  .mat-card-primary:hover{
   
    background:transparent;
  
    
  }
