

  <div class="container">
    <div class="row">

      

      <!-- Signin Input -->
      <div class="col align-self-center">
        <div class="container">
      <hr>

    
     
 <hr>
          
          <div class="row">


            
            
<!-- CARD DETAILS-->
            <div class="col-md-6">
  
    
             
      

              <mat-card class="card mat-card-primary task-card mat-elevation-z8">
                  <li class="task-ul1">
                      <button class="costum-checkBox1" matTooltip="Mark Complete">
                     Plan your activities for today !!
                      </button>
                    </li>
          
              

                <hr>
                <hr>
                <h4>Create list of tasks</h4>
                <hr>

                <ul>
                    <li class="subtask-ul">
                      <button class="costum-checkBox" matTooltip="Mark Complete">
                        Task number 1
                      </button>
                    </li>
                    <li class="subtask-ul">
                      <button class="costum-checkBox" matTooltip="Mark Complete">
                        Task number 2
                      </button>
                    </li>
                    <li class="subtask-ul">
                      <button class="costum-checkBox" matTooltip="Mark Complete">
                        Task number 3
                      </button>
                    </li>
                    <li class="subtask-ul">
                      <button class="costum-checkBox" matTooltip="Mark Complete">
                        Task number 4
                      </button>
                    </li>
                  </ul>
              
                

              </mat-card>

              <br>
              <br>
            </div>
            <br>
            <br>
            <div class="col-md-6">

               
        
            <mat-card class="card mat-card-primary task-card mat-elevation-z8">
                <li class="task-ul2">
                    <button class="costum-checkBox1" matTooltip="Mark Complete">
                  Please Login with credentials
                    </button>
                  </li>
                  <hr>
                  <hr>
            <mat-form-field class="example-full-width">

              
                  <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="email">
                  <mat-hint>Email seems to be Ok!</mat-hint>
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" type="password" [(ngModel)]="password">
                </mat-form-field>
                <br>
            

                    <h6>Create a account : <a [routerLink]="['/sign-up']"> <b>Signup</b></a> </h6>
                    <h6>Forgot password  : <a [routerLink]="['/forgot-password']"> <b>Reset</b></a> </h6>
            
                
               
                <br>
                <button mat-button class="singinbtn mat-elevation-z8" color='success' (click)="submit()"><i class="material-icons">
                    touch_app
                    </i></button>
                <br>

              </mat-card>
          
              </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

