<nav class="navbar navbar-expand-md navbar-custom navbar-light fixed-top ">
        <div class="container-fluid">
             <a class="navbar-brand" id="font-adjust">
              &#9202;  &#9202;  &#9202;    Real Time TODO Application  &#9202;  &#9202;  &#9202;
             </a>
           
             <br>
         
             
    
               
         </div>
     </nav>
     <br>
 <br>
 <br>
 <br>
<router-outlet></router-outlet>

<br>
 <br>
<footer>
        &copy;  Developed by Jyoti Verma.
      </footer>
      